{% extends 'plots/base.html' %}

{% block content %}

{% load static %}

<p>{{ genes }}</p>
<p>{{ summary }}</p>

<button onclick="myAccFunc('Demo1')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Click here for a list of genes to overlay</button>
<div id="Demo1" class="w3-hide">
  <div class="w3-container">
    <li>Gene Name</li>
  </div>
</div>


<div class="img-center" style="height: 800px; width: 1200px;" id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>

    var X = JSON.parse('{{ pc1 | escapejs }}')
    var Y = JSON.parse('{{ pc2 | escapejs }}')
    var C = JSON.parse('{{ gene_exp | escapejs }}')
    var max = JSON.parse('{{ cmax | escapejs }}')
    var min = JSON.parse('{{ cmin | escapejs }}')
    console.log(max)
    console.log(min)
    var trace1 = {
    // X AND Y WILL BE PC1 AND PC2
    x: X,
    y: Y,
    mode: 'markers',
    marker: {
        size: 10,
        // THIS WILL BE FROM MY EXPRESSION VALUES
        color: C,
        colorscale: [[0, 'rgb(1,18,25)'], [0.14, 'rgb(3,84,93)'], [0.28, 'rgb(3,108,114)'], [0.42, 'rgb(39,148,115)'], [0.56, 'rgb(74,149,64)'], [0.7, 'rgb(145,192,60)'], [0.84, 'rgb(195,217,66)'], [1, 'rgb(245,241,72)']],
        // MIN AND MAX EXP VALUE MUST BE JSON DUMPPED IN VIEWS
        cmin: min,
        cmax: max,
        showscale: true,
    }
    };

    var data = [ trace1];

    var layout = {
      title: 'Principal Component Analysis with Gene Expression Overlay',
      titlefont: {
        size: 20,
        color: '#17252A'
      },
      xaxis: {
        title: 'Pricipal Component 1 <br> (9.35% Variance Explained)',
        titlefont: {
          size: 16,
          color: '#17252A',
        }
      },
      yaxis: {
        title: 'Principal Component 2 <br> (8.26% Variance Explained)',
        titlefont: {
          size: 16,
          color: '#17252A'
        }
      }
    };

    Plotly.newPlot('myDiv', data, layout);

  </script>

  <div class="first"><button type="button" onclick="smoothScroll(document.getElementById('second'))">Click Me!</button></div>
  <div class="second" id="second">Hi</div>

  <script>
    window.smoothScroll = function(target) {
      var scrollContainer = target;
      do { //find scroll container
          scrollContainer = scrollContainer.parentNode;
          if (!scrollContainer) return;
          scrollContainer.scrollTop += 1;
      } while (scrollContainer.scrollTop == 0);

      var targetY = 0;
      do { //find the top of target relatively to the container
          if (target == scrollContainer) break;
          targetY += target.offsetTop;
      } while (target = target.offsetParent);

      scroll = function(c, a, b, i) {
          i++; if (i > 30) return;
          c.scrollTop = a + (b - a) / 30 * i;
          setTimeout(function(){ scroll(c, a, b, i); }, 20);
      }
      // start scrolling
      scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
  }

  // Accordions
  function myAccFunc(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
      } else {
          x.className = x.className.replace(" w3-show", "");
      }
  }

</script>

<div class="w3-row w3-padding header1-dark">
  <div class="w3-half w3-container">
    <h4 class="header1-dark"><b>THE DATASET</b></h4>
    <p class="w3-large paragraph-d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="w3-large paragraph-d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
  </div>
  <div class="w3-half w3-container">
    <img src="{% static 'plots/images/diff_trad.png' %}">
  </div>
</div>
<br>

<div class="w3-row w3-padding header1-light">
  <div class="w3-half w3-container">
    <!-- I want to split this in two horizontally and have 2 images in black and white -->
    <img src="{% static 'plots/images/moonlandscape.jpg' %}">
  </div>
  <div class="w3-half w3-container">
    <h4 class="header1-light"><b>FEATURE EXTRACTION & MUTUAL INFORMATION</b></h4>
    <p class="w3-large paragraph-l">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="w3-large paragraph-l">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
  </div>
</div>
<br>





<div class="w3-padding">
</div>

<div class="w3-center w3-padding">
  <h2 class="header1"><b>HETEROGENEITY</b></h2>
  <p class="paragraph w3-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="w3-center w3-padding">
  <h4 class="header1"><b>xxx</b></h4>
  <p class="paragraph w3-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="w3-container w3-padding">
  <img class="center_img" src="{% static 'plots/images/land_diff_4.png' %}">
</div>

<div class="w3-center w3-padding">
  <h4 class="header1"><b>xxx</b></h4>
  <p class="paragraph w3-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="w3-center w3-padding">
  <h4 class="header1"><b>xxx</b></h4>
  <p class="paragraph w3-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>


{% endblock %}
