{% extends 'plots/base.html' %}

{% block content %}

{% load static %}

<!-- Header -->
<header class="w3-container background_1 w3-padding">

</header>

<header class="background_2 w3-container w3-theme-d6">
  <div class="w3-padding-32 w3-center">
  <h1 class="padding w3-padding-32 w3-xxxlarge w3-animate-bottom">NAVIGATING CELLULAR DIFFERENTIATION THROUGH EPIGENETIC LANDSCAPES</h1>
  <h4 class="padding">The development of multi-cellular organisms relies on cellular differentiation, the process whereby less specialised cells adopt a more specialised form and function. The path traversed by cells along this journey of differentiation consist of potential branches or bifurcations where cells must “choose” a trajectory to follow, ultimately dictating a cell’s final cell type or fate. This cell-fate decision is largely informed by differential gene activity in individual cells and epigenetic landscapes are frequently used as an intuitive way to represent this complex relationship between gene activity and cell fate during development. This project looks at how cell-fate decisions can be represented by computing and constructing the epigenetic landscapes of key gene pairs – identified using tools from information theory. Additionally, it explores cellular heterogeneity in an apparent homogeneous cell population based on single cell transcriptomics. </h4>
    <div class="readmore">
      <a href="#id01"> <button class="w3-btn w3-large button1 w3-hover-light-grey" onclick="smoothScroll(document.getElementById('id01')).style.display='block'" style="font-weight:400;">READ MORE</button></a>
    </div>
    <i class="fa fa-angle-double-down" style="font-size:48px;"></i>
  </div>
</header>

<div class="main" id="id01">
</div>

<div class="w3-row w3-padding header1-dark">
  <div class="w3-half w3-container">
    <h4 class="header1-dark"><b>CELLULAR DIFFERENTIATION</b></h4>
    <p class="w3-large paragraph-d" style="text-align:justify">Cellular differentiation is characterised by an organised increase in cell mass and a subsequent phenotypic diversification of the expanding cell populations. It is a fundamental process in development biology and the rationale behind a single cell giving rise to a multi-cellular organism comprising a diverse range of tissues <a href="/plots/reference/">[1]</a>.</p>
    <p class="w3-large paragraph-d" style="text-align:justify">As each cell in the body contains an identical copy of DNA, it is differential gene expression that is ultimately responsible for this phenotypic diversification and the driver behind a cell adopting a particular cell-fate. Considering the importance of this biological process in developmental biology, there is a significant interest in better understanding the spatio-temporal precision with which cells adopt new identities. Moreover, we seek an insight into the dynamics that govern this fundamental yet complex biological process in the hope to manipulate it for medical advances <a href="/plots/reference/">[2]</a>.</p>
  </div>
  <div class="w3-half w3-container">
    <img src="{% static 'plots/images/diff_trad.png' %}" style="width: 90%">
    <figcaption class="fig1-pad w3-center paragraph-d"><b>Figure 1: </b>A schematic representing the potential trajectories a cell may encounter during the differentiation process. Each fork represents a bifurcation which is coupled with an increase in cellular specificity.</figcaption>
  </div>
</div>
<br>

<div class="w3-row w3-padding header1-light">
  <div class="w3-half w3-container">
    <img src="" style="width: 100%">
    <figcaption class="w3-center paragraph-l "><b></b></figcaption>
  </div>
  <div class="w3-half w3-container">
    <h4 class="header1-light"><b>CELLULAR HETEROGENEITY & GENE EXPRESSION</b></h4>
    <p class="w3-large paragraph-l" style="text-align:justify">Since altered gene activity drives and informs differentiation, single cell expression data represents an opportunity to study the dynamics of cellular differentiation. Indeed, cell populations that are otherwise considered homogeneous show great heterogeneity on the single cell level in the expression of a gene or group of genes. Such observed heterogeneity may indicate potential bifurcations or cell fates that the cell may adopt with different probabilities <a href="/plots/reference/">[3]</a>. Consequently, single cell gene expression data provides a natural framework in which to study cell-fate decisions driven by genetic changes and epigenetic landscapes provide an intuitive way to visualise the dynamics of this complex relationship <a href="/plots/reference/">[4]</a>.</p>
  </div>
</div>
<br>

<div class="w3-row w3-padding header1-dark">
  <div class="w3-half w3-container">
    <h4 class="header1-dark"><b>EPIGENETIC LANDSCAPES</b></h4>
    <p class="w3-large paragraph-d" style="text-align:justify">Published in the 1950’s by Conrad Waddington, epigenetic landscapes were originally a concept likening the process of cellular differentiation to a marble rolling down a hill <a href="/plots/reference/">[5]</a>. Here, the divergent downhill valleys represent different paths a cell may take during the differentiation process. Starting at the top, the cell has a multitude of paths which it may follow but as it traverses downhill the potential paths become more limited and as such the cell’s potential to become any other cell diminishes. The Landscape represents the dynamics where the lowest points on the landscape, known as the attractor states, correspond to the most likely destination a cell may find itself in and are thought to represent cell types <a href="/plots/reference/">[4]</a>. This model is able to qualitatively describe an extraordinarily complicated process very intuitively.
    </p>
    <p class="w3-large paragraph-d" style="text-align:justify">Since gene expression drives cell-fate it is simultaneously responsible for shaping the epigenetic landscape, thereby steering the choices a cell may make in it’s process towards differentiation. For example, gene expression levels of the chosen cell-fate are up-regulated, while the expression levels of the alternate fate are down-regulated. The Waddington landscape provides an extraordinarily simple, yet effective qualitative tool to better understand how gene activity determines the dynamics of the cell-fate system. However, in recent years there has been a substantial drive by mathematicians to represent this landscape in a quantitative way providing an opportunity to explore the dynamics of the system (see background section for further details on how these landscapes are computed) <a href="/plots/reference/">[6]</a>.</p>
  </div>
  <div class="w3-half w3-container">
    <img class="fig3 img-center" src="{% static 'plots/images/landscape.jpg' %}" style="width: 95%">
    <figcaption class="w3-center paragraph-d fig3-pad"><b>Figure 3: </b>The original Waddington epigenetic landscape likening cellular differentiation to a marble rolling down a hill. Different valleys represent potential paths a cell may traverse during differentiation.
    </figcaption>
  </div>
</div>
<br>

<div class="w3-row w3-padding header1-light">
  <div class="w3-container">
    <h4 class="w3-center header1-light"><b>AIMS</b></h4>
    <p class="w3-large paragraph-l">The aims of this project are to:</p>
    <ol class="w3-large paragraph-l">
      <li>Identify which pairs of genes generate the most informative epigenetic landscapes using tools from information theory</li>
      <li>Compute and construct these landscapes in a way that intuitively represents the relationship between gene activity and cell-fate in a high dimensional dataset</li>
      <li>Create a website with a robust and dynamic backend to quickly compute the multitude of landscapes in real time and represent the data in a manner that is clear and logical to the user</li>
    </ol>
  </div>
</div>

<div class="w3-row w3-padding header1-dark">
  <div class="w3-container">
    <img class="figaims" src="{% static 'plots/images/aims1.png' %}">
    <figcaption class="w3-center paragraph-d "><b>Figure 3: </b>A workflow describing the aims of the project.</figcaption>
  </div>
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d6 w3-padding-16 w3-center">
  <div class="w3-padding-32">
    <a href="/plots/about/"> <button class="w3-btn w3-large button1 w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:400;">NEXT SECTION</button></a>
  </div>
  <ul>
    <li class="inline">MEGAN COOMER</li>
    <li class="inline">|</li>
    <li class="inline">IMPERIAL COLLEGE</li>
    <li class="inline">|</li>
    <li class="inline"><a href="https://www.w3schools.com/w3css/w3css_templates.asp">W3-SCHOOLS</a></li>
  </ul>
</footer>

<script>
window.smoothScroll = function(target) {
  var scrollContainer = target;
  do { //find scroll container
      scrollContainer = scrollContainer.parentNode;
      if (!scrollContainer) return;
      scrollContainer.scrollTop += 1;
  } while (scrollContainer.scrollTop == 0);

  var targetY = 0;
  do { //find the top of target relatively to the container
      if (target == scrollContainer) break;
      targetY += target.offsetTop;
  } while (target = target.offsetParent);

  scroll = function(c, a, b, i) {
      i++; if (i > 30) return;
      c.scrollTop = a + (b - a) / 30 * i;
      setTimeout(function(){ scroll(c, a, b, i); }, 20);
  }
  // start scrolling
  scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
}
</script>


<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "100%";
    x.style.fontSize = "40px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
      activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
slideIndex = slideIndex + n;
showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

{% endblock %}
<!-- </body> -->
<!-- </html> -->
