{% extends 'plots/base.html' %}

{% block content %}

{% load static %}


<div class="w3-row w3-border w3-padding">
  <div class="w3-half w3-container w3-border">
    <h4><b>MEGAKARYOCYTE & ERYTHROCYTE DIFFERENTIATION</b></h4>
    <p class="w3-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="w3-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
  </div>
  <div class="w3-half w3-container w3-border">
    <img src="{% static 'plots/images/diff_trad.png' %}">
  </div>
</div>
<br>

<hr>
<div class="w3-center">
  <h4><b>GENE PAIRS WITH HIGHEST MUTUAL INFORMATION</b></h4>
  <p class="w3-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<br>



  <!-- PLOTTING THE MI HEATMAP WITH GENE NAMES -->
    <div style="height: 900px; width: 1800px;" id="mi_heatmap"><!-- Plotly chart will be drawn inside this DIV --></div>
      <script>
      var X = JSON.parse('{{ x | escapejs }}')
      var Y = JSON.parse('{{ y | escapejs }}')
      var Z = JSON.parse('{{ z | escapejs }}')
      var geneMap = JSON.parse('{{ gene_map | escapejs }}')

      var xvalues = X
      var yvalues = Y
      var zvalues = Z

      // var colorscaleValue = [
      // [0, '#93C8C8'],
      // [1, '#003333']
      // ];

      // var colorscaleValue = [
      // [0, '#6FB98F'],
      // [1, '#004445']
      // ];

      // var colorscaleValue = [
      // [0, '#C4DFE6'],
      // [1, '#003B46']
      // ];

      var colorscaleValue = [
      [0, '#B2DBD5'],
      [1, '#003333']
      ];

      // var colorscaleValue = [
      // [0, '#B2DBD5'],
      // [1, '#FA8D62']
      // ];

      // var colorscaleValue = [
      // [0, '#FA8D62'],
      // [1, '#2B616D']
      // ];

      // var colorscaleValue = [
      // [0, '#2B616D'],
      // [1, '#FA8D62']
      // ];

      var layout = {
        title: '<b>MUTUAL INFORMATION BETWEEN GENE PAIRS</b>',
        titlefont: {
          size: 20,
          color: 'black'
        },
        xaxis: {
          title: '<b>GENE</b>',
          titlefont: {
            size: 18,
            color: 'black',
          }
        },
        yaxis: {
          title: '<b>GENE</b>',
          titlefont: {
            size: 18,
            color: 'black'
          }
        }
      };

      var data = [ {
        x: xvalues,
        y: yvalues,
        z: zvalues,
        type: 'heatmap',
        colorscale: colorscaleValue,
        showscale: true
      }
    ];
    var miHeatmap = document.getElementById('mi_heatmap');
    Plotly.plot('mi_heatmap', data, layout);

    mi_heatmap.on('plotly_click', function(data){
      var xGeneName = data.points[0].x;
      var yGeneName = data.points[0].y;
      window.location = '/plots/landscape?gene1=' + geneMap[xGeneName] + '&gene2=' + geneMap[yGeneName];
    })
    </script>

    {% endblock %}
