{% extends 'plots/base.html' %}

{% block content %}

{% load static %}

<div class="w3-row w3-padding header1-dark">
  <div class="w3-half w3-container">
    <h4 class="header1-dark"><b>MUTUAL INFORMATION</b></h4>
    <p class="w3-large paragraph-d">The heatmap to the right indicates the mutual information shared between all possible gene pairs within the dataset on a scale of 0 to 1. The map is coloured according to the amount of mutual information shared between gene pairs with darker colours representing less mutual information shared than lighter colours (see colour bar).  Hovering over a square identifies which two genes are being represented.</p>
    <p class="w3-large paragraph-d">The mutual information is calculated using the Julia programming language, specifically the package InformationMeasures.jl and the values loaded into the website database to create an interactive heatmap. Clicking on a gene pair, represented by a coloured square in the heatmap, generates the 3D epigenetic landscape for that gene pair in real time.</p>
    <p class="w3-large paragraph-d">By computing the mutual information shared between gene pairs we gain an insight into which gene pairs may be most informative. However, the user is not restricted to analysing the landscapes of genes which share a high mutual information but to any possible gene pair within the dataset deemed interesting, regardless of mutual information, allowing added flexibility and comprehension into the landscape analysis of the dataset.</p>
    <p class="w3-large paragraph-d">Please click on the heatmap to explore the 3D epigenetic landscapes before moving on to the next section which is a summary of the data.</p>
  </div>
  <div class="w3-half w3-container">
    <div class="w3-container w3_center">
      <div class="img-center" style="height: 900px; width: 870px;" id="mi_heatmap"><!-- Plotly chart will be drawn inside this DIV -->
      </div>
    </div>
  </div>
</div>
<br>

  <!-- PLOTTING THE MI HEATMAP WITH GENE NAMES -->
<!-- <div class="w3-container w3_center"> -->
  <!-- <div class="img-center" style="height: 900px; width: 1700px;" id="mi_heatmap"><!-- Plotly chart will be drawn inside this DIV -->
  <!-- </div> -->
<!-- </div> -->
  <script>
  var X = JSON.parse('{{ x | escapejs }}')
  var Y = JSON.parse('{{ y | escapejs }}')
  var Z = JSON.parse('{{ z | escapejs }}')
  var geneMap = JSON.parse('{{ gene_map | escapejs }}')

  var xvalues = X
  var yvalues = Y
  var zvalues = Z


  var layout = {
    title: '<b>MUTUAL INFORMATION BETWEEN ALL POSSIBLE GENE PAIRS</b>',
    titlefont: {
      size: 20,
      color: '#021B26'
    },
    margin: {
      l: 130,
      b: 130,
    }

  };

  var data = [ {
    x: xvalues,
    y: yvalues,
    z: zvalues,
    type: 'heatmap',
    colorscale: [[0, 'rgb(2,35,50)'], [0.14, 'rgb(3,84,93)'], [0.28, 'rgb(3,108,114)'], [0.42, 'rgb(39,148,115)'], [0.56, 'rgb(74,149,64)'], [0.7, 'rgb(145,192,60)'], [0.84, 'rgb(195,217,66)'], [1, 'rgb(245,241,72)']],
    // colorscale: colorscaleValue,
    // reversescale: true,
    showscale: true
  }
  ];
  var miHeatmap = document.getElementById('mi_heatmap');
  Plotly.plot('mi_heatmap', data, layout);

  mi_heatmap.on('plotly_click', function(data){
  var xGeneName = data.points[0].x;
  var yGeneName = data.points[0].y;
  window.location = '/plots/landscape?gene1=' + geneMap[xGeneName] + '&gene2=' + geneMap[yGeneName];
  })
  </script>

<!-- <div class="spacer">
</div> -->

<!-- Footer -->
<footer class="w3-container w3-theme-d6 w3-padding-16 w3-center">
  <div class="w3-padding-32">
    <a href="/plots/contact/"> <button class="w3-btn w3-large button1 w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:400;">NEXT SECTION</button></a>
  </div>
  <ul>
    <li class="inline">MEGAN COOMER</li>
    <li class="inline">|</li>
    <li class="inline">IMPERIAL COLLEGE</li>
    <li class="inline">|</li>
    <li class="inline"><a href="https://www.w3schools.com/w3css/w3css_templates.asp">W3-SCHOOLS</a></li>
  </ul>
</footer>

    {% endblock %}
