{% extends 'plots/base.html' %}

{% block content %}

{% load static %}

<div class="w3-container w3-center header-padding">
  <h4 class="header1-dark"><b>REFERENCES</b></h4>
</div>

<ol class="w3-large paragraph-d">
  <li><a href="#">Ref1</a></li>
  <li><a href="#">Ref2</a></li>
  <li><a href="#">Ref3</a></li>
</ol>

<!-- Footer -->
<footer class="w3-container w3-theme-d6 w3-padding-16 w3-center">
  <div class="w3-padding-32">
    <!-- <button class="w3-btn w3-large button1 w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:400;">THE END</button></a> -->
  </div>
  <ul>
    <li class="inline">MEGAN COOMER</li>
    <li class="inline">|</li>
    <li class="inline">IMPERIAL COLLEGE</li>
    <li class="inline">|</li>
    <li class="inline"><a href="https://www.w3schools.com/w3css/w3css_templates.asp">W3-SCHOOLS</a></li>
  </ul>
</footer>

{% endblock %}
