.w3-theme-l5 {color:#000 !important; background-color:#2C7F7C !important}
.w3-theme-l4 {color:#000 !important; background-color:#4B7574 !important}
.w3-theme-l3 {color:#000 !important; background-color:#57FFF8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#527F7E !important}
.w3-theme-l1 {color:#000 !important; background-color:#46CCC6 !important}

.w3-theme-d1 {color:#fff !important; background-color:#2C7F7C !important}
.w3-theme-d2 {color:#fff !important; background-color:#A4FFFB !important}
.w3-theme-d3 {color:#fff !important; background-color:#57FFF8 !important}
.w3-theme-d4 {color:#fff !important; background-color:#003333 !important}
.w3-theme-d5 {color:#fff !important; background-color:#46CCC6 !important}

/*NEW COLOR SCHEME*/
/*.w3-theme-d6 {color:#fff !important; background-color:#17252A !important}*/
.w3-theme-d7 {color:#fff !important; background-color:#2B7A78 !important}
.w3-theme-d8 {color:#fff !important; background-color:#3AAFA9 !important}
.w3-theme-d9 {color:#fff !important; background-color:#DEF2F1 !important}
.w3-theme-d10 {color:#fff !important; background-color:#FEFFFF !important}
.w3-theme-11 {color:#fff !important; background-color:#FFB6A7 !important}

.w3-theme-d6 {color:#fff !important; background-color:#021B26 !important}
.w3-theme-d7 {color:#fff !important; background-color:#2B7A78 !important}
.w3-theme-d8 {color:#fff !important; background-color:#3AAFA9 !important}
.w3-theme-d9 {color:#fff !important; background-color:#DEF2F1 !important}
.w3-theme-d10 {color:#fff !important; background-color:#FEFFFF !important}
.w3-theme-11 {color:#fff !important; background-color:#FFB6A7 !important}

.w3-theme-light {color:#000 !important; background-color:#A4FFFB !important}
.w3-theme-dark {color:#fff !important; background-color:#4B7574 !important}
.w3-theme-action {color:#fff !important; background-color:#46CCC6 !important}

.w3-theme {color:#fff !important; background-color:#45b8ac !important}
.w3-text-theme {color:#4a9540 !important}
.w3-border-theme {border-color:#45b8ac !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#4FE5DF !important}
.w3-hover-text-theme:hover {color:#45b8ac !important}
.w3-hover-border-theme:hover {border-color:#45b8ac !important}

/*COLOR FOR HEADERS*/
.header1-dark {color:#021B26 !important; background-color:#FEFFFF}
.header1-light {color:#FEFFFF !important; background-color:#021B26}
.header2 {color:#2B616D !important; background-color:#fff}

/*GREY COLOR FOR PARAGRAPHS*/
.paragraph-d {
  color:#021B26 !important;
  background-color:#FEFFFF;
}

.paragraph-l {color:#FEFFFF !important; background-color:#021B26}

h4 {
  padding-top: 15px;
}

figcaption {
  line-height: 200%;
}

p {
  line-height: 200%;
  padding-top: 20px;
}

li {
  padding-top: 20px;
}

hr {
    display: block;
    margin-top: 80px;
    margin-bottom: 0.5em;
    margin-left: 500px;
    margin-right: 500px;
    border-style: inset;
    border-width: 1px;
}

.invisible {
  color: #021B26;
}

.invisible1 {
  color: #FEFFFF;
}

/*LAYOUT*/
.center_img {
  display: block;
    margin: auto;
}

.spacer {
  margin-bottom: 80px;
}

.w4-container {
  margin-left: 200px !important;
  margin-right: 200px !important;
}

.background {
  color: #FEFFFF;
  opacity: 0.77;
  width: 100%;
  height: 900px;
  background-image: url("images/background_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background_1 {
  color: #FEFFFF;
  opacity: 0.95;
  width: 100%;
  height: 320px;
  background-image: url("images/newbackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background_2{
  height: 660px;
  width: 100%;
}

.button1 {
    background-color: Transparent;
    color: white;
    border: 1px solid #ffff; /* White */
    border-radius: 6px;
    padding: 15px 38px;
}

.readmore {
  padding-top: 30px;
}

.inline {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.grad{
  background: linear-gradient(to bottom left, #17252A, #2B7A78);
}

.top-padding {
  padding-top: 45px;
}

.button-padding{
  padding-top: 300px;
}

.padding{
  padding-left: 180px;
  padding-right: 180px;
}

.first {
    width: 100%;
    height: 1000px;
}

.second {
    width: 100%;
    height: 1000px;
}

/*PADDING*/
.header-padding{
  padding-top: 30px;
}

.left-padding {
  padding-left: 250px;
}

.leftm-padding {
  padding-left: 100px;
}

.right-padding {
  padding-right: 250px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.entropy-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

/*FIGURE LEGEND PADDING*/
.fig-top-pad {
  margin-top: 40px;
}

.fig1-pad {
  padding-left: 170px;
  padding-right: 170px;
}

.fig3-pad {
  padding-left: 70px;
  padding-right: 70px;
}

.figwork-pad {
  padding-left: 170px;
  padding-right: 170px;
}

.figmi-pad {
  padding-left: 15px;
  padding-right: 60px;
}

.figland-pad {
  padding-left: 10px;
  padding-right: 100px;
}

.figpca-pad {
  padding-left: 25px;
  padding-right: 120px;
}

.fig-pad-venn {
  padding-left: 175px;
  padding-right: 175px;
}

/*FIGURE PADDING*/
.fig3 {
  padding-top: 60px;
}

.figaims {
  padding-left: 370px;
  padding-top: 60px;
  padding-bottom: 25px;
}

.figwork {
  padding-top: 85px;
  padding-left: 300px;
}

.figmi {
  padding-left: 40px;
  padding-top: 35px;
}

.figland {
  padding-top: 85px;
  padding-left: 120px;
}

.figvenn {
  padding-top: 90px;
}

/*GRAPH PADDING*/
.pcaplot {
  /*padding-top: 50px;*/
  padding-bottom: 50px;
}

.pcaspacer {
  margin-bottom: 60px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #021B26;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #4a9540;
}

/* The search field */
#myInput {
  border-box: box-sizing;
  /*background-image: url('searchicon.png');*/
  /*background-position: 14px 12px;*/
  /*background-repeat: no-repeat;*/
  /*min-width: 290px;*/
  width: 100%;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 290px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #011219;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #4a9540;
    color: #FEFFFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*.active, .accordion:hover {
    background-color: #021B26;
}*/

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #FEFFFF;
    display: none;
    overflow: hidden;
}
