.w3-theme-l5 {color:#000 !important; background-color:#2C7F7C !important}
.w3-theme-l4 {color:#000 !important; background-color:#4B7574 !important}
.w3-theme-l3 {color:#000 !important; background-color:#57FFF8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#527F7E !important}
.w3-theme-l1 {color:#000 !important; background-color:#46CCC6 !important}

.w3-theme-d1 {color:#fff !important; background-color:#2C7F7C !important}
.w3-theme-d2 {color:#fff !important; background-color:#A4FFFB !important}
.w3-theme-d3 {color:#fff !important; background-color:#57FFF8 !important}
.w3-theme-d4 {color:#fff !important; background-color:#003333 !important}
.w3-theme-d5 {color:#fff !important; background-color:#46CCC6 !important}

/*NEW COLOR SCHEME*/
/*.w3-theme-d6 {color:#fff !important; background-color:#17252A !important}*/
.w3-theme-d7 {color:#fff !important; background-color:#2B7A78 !important}
.w3-theme-d8 {color:#fff !important; background-color:#3AAFA9 !important}
.w3-theme-d9 {color:#fff !important; background-color:#DEF2F1 !important}
.w3-theme-d10 {color:#fff !important; background-color:#FEFFFF !important}
.w3-theme-11 {color:#fff !important; background-color:#FFB6A7 !important}

.w3-theme-d6 {color:#fff !important; background-color:#011219 !important}
.w3-theme-d7 {color:#fff !important; background-color:#2B7A78 !important}
.w3-theme-d8 {color:#fff !important; background-color:#3AAFA9 !important}
.w3-theme-d9 {color:#fff !important; background-color:#DEF2F1 !important}
.w3-theme-d10 {color:#fff !important; background-color:#FEFFFF !important}
.w3-theme-11 {color:#fff !important; background-color:#FFB6A7 !important}

.w3-theme-light {color:#000 !important; background-color:#A4FFFB !important}
.w3-theme-dark {color:#fff !important; background-color:#4B7574 !important}
.w3-theme-action {color:#fff !important; background-color:#46CCC6 !important}

.w3-theme {color:#fff !important; background-color:#45b8ac !important}
.w3-text-theme {color:#3AAFA9 !important}
.w3-border-theme {border-color:#45b8ac !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#4FE5DF !important}
.w3-hover-text-theme:hover {color:#45b8ac !important}
.w3-hover-border-theme:hover {border-color:#45b8ac !important}

/*COLOR FOR HEADERS*/
.header1-dark {color:#011219 !important; background-color:#FEFFFF}
.header1-light {color:#FEFFFF !important; background-color:#011219}
.header2 {color:#2B616D !important; background-color:#fff}

/*GREY COLOR FOR PARAGRAPHS*/
.paragraph-d {
  color:#011219 !important;
  background-color:#FEFFFF;
}

.paragraph-l {color:#FEFFFF !important; background-color:#011219}

figcaption {
  line-height: 200%;
}

p {
  line-height: 200%;
  padding-top: 20px;
}

li {
  padding-top: 20px;
}

hr {
    display: block;
    margin-top: 80px;
    margin-bottom: 0.5em;
    margin-left: 500px;
    margin-right: 500px;
    border-style: inset;
    border-width: 1px;
}

/*LAYOUT*/
.center_img {
  display: block;
    margin: auto;
}

.spacer {
  margin-bottom: 100px;
}

.w4-container {
  margin-left: 200px !important;
  margin-right: 200px !important;
}

.background {
  color: #FEFFFF;
  opacity: 0.77;
  width: 100%;
  height: 900px;
  background-image: url("images/background_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background_1 {
  color: #FEFFFF;
  opacity: 0.95;
  width: 100%;
  height: 320px;
  background-image: url("images/newbackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background_2{
  height: 660px;
  width: 100%;
}

.button1 {
    background-color: Transparent;
    color: white;
    border: 1px solid #ffff; /* White */
    border-radius: 6px;
    padding: 15px 38px;
}

.inline {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.grad{
  background: linear-gradient(to bottom left, #17252A, #2B7A78);
}

.top-padding {
  padding-top: 45px;
}

.button-padding{
  padding-top: 300px;
}

.padding{
  padding-left: 180px;
  padding-right: 180px;
}

.first {
    width: 100%;
    height: 1000px;
}

.second {
    width: 100%;
    height: 1000px;
}

/*PADDING*/
.header-padding{
  padding-top: 30px;
}

.left-padding {
  padding-left: 250px;
}

.leftm-padding {
  padding-left: 100px;
}

.right-padding {
  padding-right: 250px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.entropy-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*FIGURE LEGEND PADDING*/
.fig1-pad {
  padding-left: 170px;
  padding-right: 170px;
}

.fig3-pad {
  padding-left: 70px;
  padding-right: 70px;
}

/*FIGURE PADDING*/
.fig3 {
  padding-top: 60px;
}
